<div class="row d-flex justify-content-center">
  <div class="card mb-3" style="max-width: 280px; margin: 10px">
    <button
      type="button"
      class="btn-close close close-button"
      aria-label="Close"
    ></button>
    <div class="row no-gutters">
      <div class="col-md-12">
        <div class="card-body">
          <span class="d-flex justify-content-center" style="font-size:50px;"
            >&#8593;</span
          >
          <h5 class="card-title d-flex justify-content-center">
            Tesla Inc (TSLA)
          </h5>
          <hr />
          <p class="card-text">Change Today: +5.6%</p>
          <p class="card-text">Opening Price: $1,400</p>
          <p class="card-text">Current Price: $1,562</p>
          <p class="card-text">High Price: $1,750</p>
          <button class="btn-default">Go to social sentiment details ></button>
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="max-width: 280px; margin: 10px">
    <button
      type="button"
      class="btn-close close close-button"
      aria-label="Close"
    ></button>
    <div class="row no-gutters">
      <div class="col-md-12">
        <div class="card-body">
          <span class="d-flex justify-content-center" style="font-size:50px;"
            >&#8593;</span
          >
          <h5 class="card-title d-flex justify-content-center">
            Tesla Inc (TSLA)
          </h5>
          <hr />
          <p class="card-text">Change Today: +5.6%</p>
          <p class="card-text">Opening Price: $1,400</p>
          <p class="card-text">Current Price: $1,562</p>
          <p class="card-text">High Price: $1,750</p>
          <button class="btn-default">Go to social sentiment details ></button>
        </div>
      </div>
    </div>
  </div>
</div>
