<div class="row">
  <div class="col-xs-12">
    <h5 class="card-title">Tesla Inc (TSLA)</h5>
    <hr />
  </div>
  <div class="row d-flex justify-content-left">
    <div class="col-md-8 corner-month" style="width: auto;">
      <p class="card-text">
        January <span style="font-size:30px;">&#8593; </span>
      </p>
      <hr />
      <p class="card-text">Change: -150</p>
      <p class="card-text">MSPR: 12.56</p>
    </div>

    <div class="col-md-8 corner-month" style="width: auto;">
      <p class="card-text">
        February <span style="font-size:30px;">&#8593; </span>
      </p>
      <hr />
      <p class="card-text">Change: -150</p>
      <p class="card-text">MSPR: 12.56</p>
    </div>

    <div class="col-md-8 corner-month" style="width: auto;">
      <p class="card-text">
        March <span style="font-size:30px;">&#8593; </span>
      </p>
      <hr />
      <p class="card-text">Change: -150</p>
      <p class="card-text">MSPR: 12.56</p>
    </div>
  </div>
  <div class="col-xs-4" style="margin-top: 15px;">
    <hr />
    <button class="btn-default">< Back to list of stocks</button>
  </div>
</div>
