<div class="contaner">
  <div class="row">
    <div class="col-xs-12">
      <h5 class="card-title">{{ compName }} ({{ compSymbol }})</h5>
      <hr />
    </div>
    <div class="row d-flex justify-content-left">
      <div
        class="col-md-8 corner-month"
        style="width: auto"
        *ngFor="let sentiment of sentiments"
      >
        <p class="card-text">
          {{ sentiment.month | numberToMonth }}
          <span
            [ngStyle]="{ color: sentiment.change > 0 ? 'green' : 'red' }"
            style="font-size: 30px"
            >{{ sentiment.change > 0 ? "&#8593;" : "&#8595;" }}</span
          >
        </p>
        <hr />
        <p class="card-text">Change: {{ sentiment.change }}</p>
        <p class="card-text">MSPR: {{ sentiment.mspr }}</p>
      </div>
    </div>
    <div class="col-xs-4" style="margin-top: 15px">
      <hr />
      <button id="backBtn" class="btn-default" (click)="navigateToHome()">
        < Back to list of stocks
      </button>
    </div>
  </div>
</div>
